body {
    background: #fafafa;
}
.dino {
    width: 60px;
    height: 60px;
    background-image: url(dino.png);
    position: absolute;
    bottom: 0;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(cactus.png);
    bottom: 0;
}

.game-over{
    text-align: bottom;
    color: #666666;
    margin-top: 50px;
    font-family: arial;
}

@keyframes slideright {
    from {
        background-position: 30000%;
    }
    to {
        background-position: 0;
    }
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url(background.png);
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    width: 100%;
    vertical-align: middle;
    height: 200px;
}

.gameScore {
    position: absolute;
    bottom:200px;
    font-family: Arial;
}